/**********************************************************************\

Styles for RegexSearch manual

\**********************************************************************/

@import url("blankaspect-manual.css");

p.quotation
{
  font-size: 90%;
  margin-top: 0.6em;
  margin-left: 2.0em;
  margin-right: 2.0em;
}

p.shaded
{
  background-color: #F8F6E0;
}

table.regex
{
  margin-left: 2.5%;
  margin-right: 2.5%;
}
table.regex td
{
  border: 1px solid #B4B8C8;
  padding: 0.1em 0.6em;
}
table.regex td.shaded
{
  vertical-align: top;
  background-color: #F8F6E0;
  white-space: nowrap;
}

/*--------------------------------------------------------------------*/
